<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>
        Step 1: Navigate site information button
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>
        Step 2: Locate notifications settings
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>
        Step 3: Enable the settings to get new updates
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
